<%- include ('partials/header.ejs');%>
<body>
  <div class="container">
    <hr />
    <h1><%= ask.title %></h1>
    <p><%= ask.desc %></p>
    <hr />
  </div>
</body>

<%- include ('partials/footer.ejs');%>
